Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
.idea

/Content/ProgramRelated/UISound
/MyBuild
/Content/Movies
/PythonSource
/Docs/DocSource
/Build
/python/PythonProgram
/python/mylog.txt
/python/returnParams
Content/python/__pycache__
python/__pycache__


Content/Model/MyModel/Levels/JingTouRelated/
Content/Model/MyModel/Levels/ToXiaoXia/

/Content/Art/UseLess

/Plugins/CommonTools
/Plugins/CustomUI
/Plugins/Developer/RiderLink

/Content/JGSTest
/Content/python/JGSTest
Source/TJG_wzgj_Demo/Private/JGSTest/
Source/TJG_wzgj_Demo/Public/JGSTest/
/Plugins/StreamMediaPlugin/

Plugins.7z

/Samples
/Typing
/Plugins/PuerTS/
/Plugins/WebSync/

